h1 {
text-align: center;
font-size: 80px;
}
body {
background-color: white;
}

header {
  background-color:   rgb(56,56,56);
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}
 
 nav {
  float: left;
  width: 10%;
  height: 720px;
  background: LightSkyBlue;
  padding: 10px;
  text-align: left;
}
 
 article {
  float: right;
  padding: 20px;
  width: 85%;
  background-color: powderblue;
  height: 700px;
  text-align: left; 
  font-size: 35px; 
}

footer {
  background-color:  rgb(80,80,80);
  padding: 50px;
  text-align: center;
  color: white;
}